# Temel Flutter/Dart gereksizleri
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android/iOS özel hassas ve derleme dosyaları
**/android/.gradle
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/ios/.symlinks
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
pubspec.lock